{#
/**
 * @file
 * Default theme implementation to present an Gist Embed.
 *
 * This is the template implementation of the Gist Embed Formatter module.
 *
 * Available variables:
 * - url: URL to the originating feed item.
 *
 * @ingroup themeable
 */
#}
{{ dump(url) }}
<script src="{{ url.uri }}.js"></script>
